<div class="footer-show d-flex justify-content-between fixed-bottom">
  <div class="footer-show-price">
    <p style="font-size: 14px; margin-bottom: 0px;">500$/day</p>
    <p style="font-size: 14px; margin-bottom: 0px;"><i class="fas fa-star"></i> 4,95(34 evaluaciones)</p>
  </div>
  <div>
    <%= link_to 'reserve', '#bookings' %>
  </div>
</div>
