<div class="mobile-navbar-wrapper fixed-top">
  <div class="container">
    <div class="mobile-navbar-container d-flex">
      <div class="navbar-link">
       <%= link_to  :back do  %>
       <i class="fas fa-chevron-left"></i>
       <% end %>
      </div>
      <button type="button" class="search" data-toggle="modal" data-target="#exampleModalLong">
      <i class="fas fa-search"></i> Search
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
