//home-navbar
.navbar-home {
  background: transparent;
  margin-bottom: 150px;
  padding: 10px;
}
.navbar-icon {
  img {
    padding:5px;
    background-color: rgba(250, 250, 250, 0.8);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    margin-bottom: 0px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    &:hover {
      text-decoration: none;
      background-color: rgba(250, 250, 250, 0.4)
    }
  }
  p {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.4);
    font-size: 20px;
    margin-bottom: 0px;
    color: red;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    a {
      margin-right: 0px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}

//products navbar
.product-navbar-wrapper {
  background-color: black;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  padding: 10px 0px;
}
.product-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;



}
.product-navbar-content {
  background-color: white;
  padding: 10px 0px;
}















// mobile navbar
.mobile-navbar-wrapper {
  display: none;
  width: 100%;
  background-color: white;
  padding: 16px 0px;
  border-bottom: 1px solid lightgrey;
}

.mobile-navbar-container {
  i {
    color: black;
  }

}

.search {
  width: 90%;
  background-color: white;
  border-radius: 20px;
  color: grey;
  box-shadow: 0px 0px 6px lightgrey;
  //eliminate the blue border when click
  &:focus{
    outline: none;
  }
  &:hover {
    box-shadow: 0px 0px 16px lightgrey;
  }
}

.navbar-link {
  margin-right: 20px;
  padding: 8px 16px;
  border-radius: 50%;
  color: black;
  &:hover {
    background-color: rgba(250, 250, 250, 0.8);
  }

}



.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


@media(max-width: 700px){
  .navbar-home {
    display: none;
  }

  .mobile-navbar-wrapper {
    display: block;
  }
}

