<div class="info-container">
  <img src="<%= product.photo %>" alt="">
  <div class="info-container-title">
    <h1><%= product.category.title %></h1>
   <h2><%= product.title %></h2>
   <h3><strong>$55</strong>per day</h3>
   <p><i class="fas fa-star"></i>4.75</p>
 </div>
</div>

